# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Dados e Datasets (Crucial para evitar upload de arquivos pesados)
# Ignora todos os arquivos dentro da pasta data
/drive/MyDrive/ForestEyes Monitoramento de Desmatamento Urbano/data/
*.zip
*.tar.gz
*.rar

# Arquivos de Geoprocessamento e Imagens de Satélite
*.tif
*.tiff
*.jp2
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.qpj

# Configurações do Google Colab / Ambiente
.virtualenv/
venv/
ENV/
.env

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
/Initial-Labs
/SP-Urban-Case/Files/data
*.cpg
*.dbf
*.fix
*.prj
*.shp
*.shx
*.tif
*.xml
data/CBERS4A-WPM/inpe_catalog_2026_4_6_19_24_3.txt
